// globle
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  font-size: 16px;
}

@import "./color";

// core

@import "./core/button";

@import "./core/checkbox";

@import "./core/notification";

@import "./core/radio";

@import "./core/pagination";

@import "./core/input";

@import "./core/modal";

@import "./core/accordion";

@import "./core/badge";

@import "./core/dropdown";

@import "./core/tab";

@import "./core/grid";

@import "./core/table";

@import "./core/dragDrop";
