.right {
  justify-content: space-between;
}
.navitem {
  padding: 1rem;
  display: block;
}

.icongroup {
  padding: 0rem 3rem;
}

/* narbar web and mobile menu */
.navbar_menu {
  display: none;
  height: 100%;
  padding: 15px;
}

.navbar_menu div {
  font-weight: bold;
  font-size: 15px;
  color: var(--dusky-blue);
  cursor: pointer;
}
.mobilemenu {
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: 5;
  width: var(--menuheight);
  transition: 0.5s;
  overflow: hidden;
  background-color: white;
  -webkit-box-shadow: -8px 7px 18px -10px rgba(87, 84, 87, 1);
  -moz-box-shadow: -8px 7px 18px -10px rgba(87, 84, 87, 1);
  box-shadow: -8px 7px 18px -10px rgba(87, 84, 87, 1);
}

.mobilemenu div {
  font-size: 18px;
  padding: 10px;
  cursor: pointer;
}
/* media query */
@media (max-width: 1100px) {
  .navbar_lg_breakpoint {
    display: none;
  }
  .navbar_lg_menu {
    display: block;
  }
}
@media (max-width: 768px) {
  .navbar_md_breakpoint {
    display: none;
  }
  .navbar_md_menu {
    display: block;
  }
}
@media (max-width: 576px) {
  .navbar_sm_breakpoint {
    display: none;
  }
  .navbar_sm_menu {
    display: block;
  }
}
@media (max-width: 400px) {
  .navbar_xs_breakpoint {
    display: none;
  }
  .navbar_xs_menu {
    display: block;
  }
}
