.checkbox {
  position: relative;
  margin: 0 0.7rem;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    border-radius: 3px;
    transition: $transition-fast;
    background-color: #e5e5e5;
  }

  &::after {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 8px;
    height: 4px;
    border-left: 2px solid $white;
    border-bottom: 2px solid $white;
    transition: $transition-fast;
    border: none;
    transform: rotate(-46deg) scale(1, 0);
  }

  &.indeterminate::after {
    border: none;
    border-bottom: 2px solid $white;
  }

  &:checked::after {
    transition-delay: 0.1s;
    transform: rotate(-46deg) scale(1, 1);
  }
  @each $name, $value in $component-colors {
    &.checkbox-#{$name} {
      &:checked::before {
        background-color: $value;
        box-shadow: 0 0 0 1px lighten($color: $value, $amount: 30),
          0 0 2px white, 0 0 5px $value;
      }
    }
  }
}

.ckeckbox-label {
  margin: 0rem 0.4rem;
  text-transform: capitalize;
  display: inline-block;
}
