// variable
$input-background-color: #f5f5f5 !default;
$input-color: #343434 !default;
$input-border: 2px solid transparent !default;
$input-border-radius: 3px !default;
$input-error-color: $danger-color !default;
$input-hint-color: lighten(
  $color: $default-color,
  $amount: 10
) !default;
$input-label-color: $default-color !default;
$input-margin-bottom: 0.7em !default;
$input-padding: 0.95em 1.3em !default;
$input-width: 100% !default;
$input-letter-space: 1px !default;
$input-max-width: 600px !default;
$input-min-width: 100px !default;
$input-font-size: 0.9rem !default;
$input-transition: 0.3s ease-in-out !default;
// input sm
$input-padding-sm: 0.8em 1.3em !default;
$input-font-size-sm: 0.7rem !default;
// input lg
$input-padding-lg: 1.15em 1.3em !default;
$input-font-size-lg: 0.9rem !default;

::placeholder {
  text-transform: capitalize;
  color: $input-color;
}

// mixing here
@mixin hover-focus-active {
  &:hover,
  &:focus,
  &:active {
    @content;
  }
}

@mixin input-size($font-size, $padding) {
  font-size: $font-size;
  padding: $padding;
}

.r-form {
  // basic input -box style
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .r-input-box {
    position: relative;
    margin-bottom: $input-margin-bottom;
    min-width: $input-min-width;
    // input style
    .r-input {
      width: $input-width;
      color: $input-color;
      background-color: $input-background-color;
      border: $input-border;
      border-radius: $input-border-radius;
      padding: $input-padding;
      transition: $input-transition;
      letter-spacing: $input-letter-space;
      font-weight: 400;
      outline: none;
      word-wrap: normal;
      white-space: normal;
      box-shadow: 0 1px 0 rgba(0, 0, 0, 0.13);

      @include hover-focus-active() {
        outline: none;
        box-shadow: 0 2px 1px rgba(0, 0, 0, 0.15);
      }
    }

    // border-animation
    .r-input-border {
      position: relative;
      height: 2px;
      width: 100%;
      background-color: $input-label-color;
      top: 0px;
      transition: $input-transition;
      transform: scale(0, 1);
      opacity: 0.5;
      &.center {
        transform-origin: center;
      }
      &.left {
        transform-origin: left;
      }
      &.right {
        transform-origin: right;
      }
    }

    // animate border on input focus
    .r-input {
      &:focus {
        // focus border style
        + .r-input-border {
          opacity: 1;
        }
        + .center {
          transform-origin: center;
          transform: scale(1, 1);
        }

        + .left {
          transform-origin: left;
          transform: scale(1, 1);
        }

        + .right {
          transform-origin: right;
          transform: scale(1, 1);
        }
      }
    }

    // label style
    .r-label {
      position: absolute;
      left: 0.9rem;
      color: #2bbbad;
      font-size: 0.9rem;
      text-transform: capitalize;
      top: 15px;
      z-index: 50;
      transition: $input-transition;

      &.label-fixed {
        top: 0 !important;
        font-size: 73% !important;
      }
    }

    .r-input {
      &:focus,
      .label-fixed {
        ~ .r-label {
          top: 0;
          font-size: 73%;
        }
      }
    }

    // input size
    .input-lg {
      @include input-size($input-font-size-lg, $input-padding-lg);

      ~ .r-label {
        top: 18px;
      }

      &:focus,
      .label-fixed {
        ~ .r-label {
          top: 0;
          font-size: 80%;
        }
      }
    }
    .input-sm {
      @include input-size($input-font-size-sm, $input-padding-sm);
      ~ .r-input-border {
        top: 0;
      }
      ~ .r-label {
        top: 9px;
      }

      &:focus,
      .label-fixed {
        ~ .r-label {
          top: 0;
          font-size: 65%;
        }
      }
    }
    // floating label
    .input-label {
      padding-bottom: 6px !important;
      padding-top: 17px;
    }

    .fixed-border {
      opacity: 0.6;
      transition: all 0.16s ease-in-out;
      transform: scale(1, 1);
    }
    // no background
    .no-bg {
      background-color: transparent;
    }

    // lagend input
    &.legend-input {
      .r-input {
        border-color: $input-label-color;
      }

      .r-label {
        ~ .r-input {
          border-color: transparent;
        }
      }
    }

    &.input-msg {
      margin-bottom: 22px;
    }

    span {
      position: absolute;
      font-size: 11px;
      left: 0;
      bottom: -16px;
      text-transform: capitalize;

      &.right {
        left: auto;
        right: 0;
      }
    }

    .r-hint {
      color: $input-label-color;
      @extend span;
    }

    .r-error {
      color: $danger-color;
      @extend span;
    }
  }
}
