$top: 20px !default;
$bottom: 20px !default;

@mixin showNotification($x: 0) {
  transform: translateX($x);
  opacity: 0.88;
  transition: $transition-fast;
}

.toast {
  min-width: 250px;
  max-width: 550px;
  padding: 0.8rem 1.3rem;
  margin: 0.3rem 0;
  position: fixed;
  z-index: 12000;
  box-shadow: $z-depth-1-half;
  transition: $transition;
  @each $name, $color in $colors {
    &.toast-#{$name} {
      background-color: $color;
      color: $white;
    }
  }
  // center
  &.center {
    top: 50%;
    left: 50%;
    transform: translate(-50%) scale(0.2);
    opacity: 0;
    &.show {
      transform: translate(-50%) scale(1);
      opacity: 0.88;
      transition: $transition-fast;
    }
  }

  // top
  &.top-left {
    left: $top;
    top: $top;
    transform: translateX(-80%);
    opacity: 0;
    &.show {
      @include showNotification(0);
    }
  }
  &.top-center {
    left: 50%;
    top: $top;
    transform: translateX(-50%) scale(0.2);
    opacity: 0;
    &.show {
      transform: translateX(-50%) scale(1);
      opacity: 0.88;
      transition: $transition-fast;
    }
  }
  &.top-right {
    right: $top;
    top: $top;
    transform: translateX(80%);
    opacity: 0;
    &.show {
      @include showNotification(0);
    }
  }

  // bottom
  &.bottom-left {
    left: $bottom;
    bottom: $bottom;
    transform: translateX(-80%);
    opacity: 0;
    &.show {
      @include showNotification(0);
    }
  }
  &.bottom-center {
    left: 50%;
    bottom: $bottom;
    transform: translateX(80%);
    opacity: 0;
    &.show {
      @include showNotification(-50%);
    }
  }
  &.bottom-right {
    right: $bottom;
    bottom: $bottom;
    transform: translateX(80%);
    opacity: 0;
    &.show {
      @include showNotification(0);
    }
  }
}
