.Headingicon_box {
  border-bottom: 1px solid lightgray;
}

/* search input */
.Headingicon_search {
  position: relative;
  margin-top: 5px;
  opacity: 1;
  padding: 4px 8px;
  border-radius: 5px;
  background-color: var(--pale-grey);
  border: none;
  outline: none;
}
.Headingicon_search::placeholder {
  color: var(--dusky-blue);
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.4px;
}
.Headingicon_search_icon {
  position: absolute;
  color: var(--dusky-blue);
  top: 50%;
  right: 4%;
  transform: translateY(-40%);
}

/* mobile view */
@media (max-width: 600px) {
  .Headingicon_searchbar {
    display: none;
  }
}
