.r-stepper {
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 0.4rem;
  overflow: hidden;
  transition: $transition;

  // dots styles
  .dot-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    height: 25px;
    width: auto;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
    }

    .dot {
      width: 10px;
      height: 10px;
      border-radius: 50%;

      &.active {
        transition: $transition-fast;
        width: 15px;
        height: 15px;
      }
    }
  }

  @each $color-name, $color-value in $component-colors {
    &.stepper-#{$color-name} {
      .dot-container {
        &::before,
        .dot {
          background-color: $color-value;
        }
      }
    }
  }

  .step-container {
    overflow: hidden;
  }

  // step style
  .r-step {
    padding: 0.8rem;
    position: absolute;
    left: -50%;
    opacity: 0;
    display: block;
    visibility: hidden;

    &.active {
      transition: $transition;
      position: relative;
      opacity: 1;
      left: 0;
      visibility: visible;
    }
  }

  &.vertical {
    display: flex;
    flex-wrap: wrap;

    .dot-container {
      flex-direction: column;
      width: 25px;
      height: auto;

      &::before {
        width: 2px;
        height: 100%;
      }
    }
  }
}
